body {
    background-image: url("../images/back.jpg");
}

 .img-responsive {margin:0 auto;}

.characters{

	width: 250px;
	height: 250px;
	background-color: white;
	margin: 20px;
	float: left;
text-align: center;
border-color: green;
border-width: 10px;

}

.game{
	height: 50%;
	width: 100%;
	
}

.cha{
	position: absolute;
    bottom: 0;
    width: 100%;
	height: 50%;
}

.divider{
	width: 10px ;
	height: 100% ; 
	background-color: blue ;
}

img{

	width: 200px;
	height: 200px;
}

.opponent, .me{
	margin-left: 20%;
}

.attack{
margin-top: 10%;
font-size: 2em;
}

.display{
	font-size: 2em;
text-align: center;
}

.next{
	color: #593BD9
}